@import "../../../../shared/theme/default-styles.scss";

.body-container {
  padding: 0 8rem;

  .header {
    margin-top: 1.3rem;

    .header-content {
      display: flex;
      align-items: center;
      column-gap: 0.5rem;

      i {
        cursor: pointer;
      }

      .header-title {
        font-size: $fontSizeMedium;
        color: $secondaryColor;
      }
    }
  }

  .body-content {
    display: flex;
    flex: 1;

    .sidenav {
      padding: 1rem;

      .header-sidenav {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 3rem;
        row-gap: 3px;

        i {
          font-size: 2.5rem;
          color: $primaryColor;
          margin-bottom: 0.5rem;
        }

        .desc {
          font-weight: bold;
          color: $secondaryColor;
          font-size: $fontSizeLarge;
        }

        .sub-desc {
          font-weight: 300;
          font-size: $fontSizeMedium;
        }
      }
    }

    .content {
      flex: 1;
      padding: 0rem 1.5rem;

      .card-content {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;

        .content-values {
          display: flex;
          justify-content: space-between;

          margin-bottom: 0.2rem;

          .label {
            color: $secondaryColor;
          }

          .value {
            color: $secondaryColor;
            font-weight: bold;
          }
        }
      }
      .button {
        width: 312px;
        margin-left: auto;
        margin-right: auto;
      }

      .button-card {
        width: 312px;
      }
    }
  }
}

@media (max-width: $mobileWidth) {
  .button,
  .button-card {
    width: 100% !important;
  }

  .body-container {
    padding: 0px;
  }

  .header-content {
    margin-left: 1rem;
  }

  .sidenav {
    display: none;
  }
}
