<div class="body-container">
  <div class="header">
    <div class="header-content">
      <i routerLink="login" class="pi pi-arrow-left"></i>
      <span class="header-title">MEU PLANO</span>
    </div>
  </div>
  <p-divider></p-divider>

  <div class="body-content">
    <section class="sidenav">
      <div class="header-sidenav">
        <i class="pi pi-id-card"></i>
        <span class="desc">Meu plano</span>
        <span class="sub-desc">O que você quer fazer?</span>
      </div>

      <app-sidenav></app-sidenav>
    </section>

    <section class="content">
      <app-card [title]="'Contribuição mensal'" [icon]="'pi-database'">
        <div class="card-content">
          <div>
            <div class="content-values">
              <span class="label">Valor da contribuição</span>
              <span class="value">R$ 500,00</span>
            </div>
            <div class="content-values">
              <span class="label">Porcentagem do salário</span>
              <span class="value">5%</span>
            </div>
          </div>
          <div class="button-card">
            <button appFillButton pButton type="submit">
              ALTERAR CONTRIBUIÇÃO
            </button>
          </div>
        </div>
      </app-card>

      <app-card [title]="'Contribuição voluntária'" [icon]="'pi-database'">
        <div class="card-content">
          <div class="content-values">
            <span class="label">Valor da contribuição</span>
            <span class="value">R$ 500,00</span>
          </div>
          <div class="button-card">
            <button appFillButton pButton type="submit">
              ALTERAR CONTRIBUIÇÃO
            </button>
          </div>
        </div>
      </app-card>

      <div class="button">
        <button appFillButton pButton type="submit">
          INCLUIR CONTRIBUIÇÃO
        </button>
      </div>
    </section>
  </div>
</div>
