<div class="body-container">
  <div class="header">
    <div class="header-content">
      <i routerLink="login" class="pi pi-arrow-left"></i>
      <span class="header-title">MEU PLANO</span>
    </div>
  </div>
  <p-divider></p-divider>

  <div class="body-content">
    <section class="sidenav">
      <div class="header-sidenav">
        <i class="pi pi-id-card"></i>
        <span class="desc">Meu plano</span>
        <span class="sub-desc">O que você quer fazer?</span>
      </div>

      <app-sidenav></app-sidenav>
    </section>

    <section class="content">
      ...Conteúdo
      <div class="button">
        <button appFillButton pButton type="submit">INCLUIR CONTRIBUIÇÃO</button>
      </div>
    </section>
  </div>
</div>
