// Device Breakpoints
$mobileWidth: 768px;
$desktopWidth: 1450px;

// Colors
$primaryColor: #1aaab2;
$secondaryColor: #464646;
$borderColor: #ccc;

// Font Sizes
$fontSizeSmall: 12px;
$fontSizeMedium: 14px;
$fontSizeLarge: 16px;
